
@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/Myriad Pro/Myriad Pro.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "GothamBold";
    src: url("../fonts/Gotham/GothamBold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "GothamMedium";
    src: url("../fonts/Gotham/GothamMedium.otf");
    font-weight: 350;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans/OpenSans-Regular.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "RobotoBoldCondensed";
    src: url("../fonts/RobotoCondensed/RobotoBoldCondensed.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "GothamBookRegular";
    src: url("../fonts/GothamBook/GothamBookRegular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/Roboto/RobotoRegular.ttf");
    font-weight: normal;
    font-style: normal;
}


