@charset "UTF-8";
/*fonts size*/
/*fonts line*/
/*main header*/
/*colors bg*/
/*colors txt*/
/*menu*/
/*fonts color*/
/*bg color*/
/*search*/
/*fonts color*/
/*forms*/
/*fonts color*/
/*---------mixins---------*/
/**/
.error {
  color: #ff8900;
  font-weight: bold;
  background: none !important; }

.popup {
  display: none; }

.popup__enter {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 101; }
  .popup__enter span {
    font-size: 25px;
    color: #fff;
    float: right;
    cursor: pointer; }

.popup__enter-bg {
  background: #fff;
  border: 1px solid green;
  display: flex;
  padding: 35px 0;
  margin-right: 22px;
  margin-top: 22px;
  color: #3b3b3b; }
  .popup__enter-bg .enter__cabinet {
    padding: 0 42px;
    border-right: 1px solid #dbdbdb; }
    .popup__enter-bg .enter__cabinet h2 {
      width: 300px;
      font-size: 24px;
      font-weight: bold; }
    .popup__enter-bg .enter__cabinet form {
      margin-top: 35px;
      font-size: 14px; }
      .popup__enter-bg .enter__cabinet form p {
        margin-top: 15px; }
        .popup__enter-bg .enter__cabinet form p input {
          margin-bottom: 10px;
          width: 100%;
          line-height: 38px;
          padding-left: 15px;
          color: #9c9c9c;
          border: 1px solid #9c9c9c; }
  .popup__enter-bg .registration_link {
    display: flex;
    margin-top: 20px; }
    .popup__enter-bg .registration_link a {
      text-decoration: underline;
      display: block;
      transition: 0.9s; }
      .popup__enter-bg .registration_link a:last-child {
        margin-left: 5%; }
      .popup__enter-bg .registration_link a:hover {
        text-decoration: none; }
  .popup__enter-bg .radio {
    display: none; }
  .popup__enter-bg .text {
    position: relative;
    color: #9c9c9c;
    font-size: 14px;
    padding-left: 25px; }
    .popup__enter-bg .text::before {
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      border: 1px solid #9c9c9c;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%); }
    .popup__enter-bg .text::after {
      content: "";
      position: absolute;
      display: block;
      width: 10px;
      height: 10px;
      background-color: #ff8900;
      top: 50%;
      left: 4px;
      transform: translate(0, -50%);
      opacity: 0;
      transition: .2s; }
  .popup__enter-bg .radio:checked + .text::after {
    opacity: 1; }
  .popup__enter-bg .registration_link {
    margin-top: 20px; }
  .popup__enter-bg .registration_button {
    background: #afb9c6;
    padding: 20px 26px;
    color: #fff;
    margin-top: 20px;
    transition: .9s; }
    .popup__enter-bg .registration_button:hover {
      background: #9ea7b3;
      color: #e5e5e5; }
  .popup__enter-bg .enter__social {
    padding: 0 40px; }
    .popup__enter-bg .enter__social h2 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 35px;
      width: 300px; }

.registration_fb {
  background-color: #3b5998;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  margin-bottom: 23px; }
  .registration_fb i {
    color: #fff; }
  .registration_fb span {
    font-size: 14px;
    margin-left: 14px; }

.registration_tw {
  background-color: #41abe1;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  margin-bottom: 23px; }
  .registration_tw i {
    color: #fff; }
  .registration_tw span {
    font-size: 14px;
    margin-left: 16px; }

.registration_gl {
  background-color: #ea4335;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  margin-bottom: 23px; }
  .registration_gl i {
    color: #fff; }
  .registration_gl span {
    font-size: 14px;
    margin-left: 16px; }

/*перезвонить*/
.popup-recall {
  display: none; }
  .popup-recall input {
    color: #9c9c9c;
    border: 1px solid #9c9c9c; }
  .popup-recall p {
    color: #3b3b3b; }

.registration_button.orange {
  background: linear-gradient(90deg, #ff8500 0%, #ffae00 100%);
  color: #fff; }
  .registration_button.orange:hover {
    background: linear-gradient(90deg, #d36e00 0%, #e59100 100%); }

.popup__enter-bg .enter__cabinet .recall-form {
  text-align: center; }
  .popup__enter-bg .enter__cabinet .recall-form p {
    text-align: left; }

/*# sourceMappingURL=modal.css.map */
