$colorYellow: #ffc925;
$colorWhite: #fff;
$colorBlack: #000;
$colorDark: #3b3b3b;
$colorRed: #ff4800;
$colorBgLight: #f5f5f5;
$colorGradient: linear-gradient(90deg, rgba(255,133,0,1) 0%, rgba(255,174,0,1) 100%);
$colorGradientDark: linear-gradient(90deg, rgba(211,110,0,1) 0%, rgba(229,145,0,1) 100%);
$colorBorderMenu: #f1f1f1;
$colorGreyForm: #a9aeb3;

$colorFacebook: #3b5998;
$colorTwitter: #41abe1;
$colorGoogle: #ea4335;

$opacity: 0.4;
$transition: 0.9s;


/*fonts size*/
$fontSize10: 10px;
$fontSize11: 11px;
$fontSize12: 12px;
$fontSize14: 14px;
$fontSize16: 16px;
/*fonts line*/
$fontLine20: 20px;
$fontLine40: 40px;




/*main header*/
/*colors bg*/
$colorBaseGrey: #696969;
$colorBaseOrange: #ff8900;

/*colors txt*/
$colorTextMenu: #c2c2c2;



/*menu*/
/*fonts color*/
$colorMenuLink: #3b3b3b;
$colorMenuArrow: #c0c4d8;
/*bg color*/
$colorMenuOrange: #db7200;




/*search*/
/*fonts color*/
$colorSearchTextLight: #929292;
$colorSearchTextGrey: #616161;
$colorSearchSelect: #8c8c8c;
$colorSearchBorder: #dadada;


/*forms*/
/*fonts color*/
$colorBgFormHeader: #606a76;
$colorFormSelectTextGrey: #9c9c9c;
$colorFormSelectOrange: #ff8500;





/*---------mixins---------*/
@mixin borderTransparent {
  border-bottom: 2px solid transparent;
}
@mixin borderYellow {
  color: $colorWhite;
  border-bottom: 2px solid $colorYellow;
}

@mixin borderMenu {
  border-bottom: 1px solid $colorBorderMenu;
}

















/**/
